.price {
  border-top: 1px solid rgb(197, 197, 197);
  margin-top: 10px;
  padding: 5px 0;
  span {
    display: flex;
    align-items: center;
    p {
      margin-right: 5px;
    }
    input {
      height: 20px;
      width: 60px;
      margin-right: 10px;
      font-size: 17px;
      font-weight: 600;
      input:focus {
        border: 1px solid red;
      }
    }
  }
}
.title {
  font-size: 18px;
  margin-bottom: 19.92px;
}
